{
  "project_info": {
    "project_number": "TU_PROJECT_NUMBER",
    "project_id": "serie-938f4",
    "storage_bucket": "serie-938f4.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:TU_PROJECT_NUMBER:android:TU_APP_HASH",
        "android_client_info": {
          "package_name": "com.jhondev146.pruebaseries"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "TU_API_KEY_ANDROID"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
